<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dailyphoto" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dailyphoto" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

      <ul class="nav nav-tabs nav-justified">
        <li class="<%= 'active' if params[:id] == 'Nature' %>">
          <%= link_to (t :nature), category_path(Category.find_by(title: "Nature")) %>
        </li>
        <li class="<%= 'active' if params[:id] == 'Sport' %>">
          <%= link_to (t :sport), category_path(Category.find_by(title: "Sport")) %>
        </li>
        <li class="<%= 'active' if params[:id] == 'Breaking News' %>">
          <%= link_to (t :breaking_news), category_path(Category.find_by(title: "Breaking News")) %>
        </li>
        <li class="<%= 'active' if params[:id] == 'Funny' %>">
          <%= link_to (t :funny), category_path(Category.find_by(title: "Funny")) %>
        </li>
      </ul>
    
    <main role="main" class="container">
      <%= render 'layouts/messages' %>
        
          <%= yield %> 
        
    </main>
  </body>
</html>
